/* css heartbeat */
.icon-heart {
  height:2em;
  width:2em;
  display:inline-block;
  position:relative;
}
.icon-heart:before, 
.icon-heart:after,
.icon-heart span:before, 
.icon-heart span:after {
  content:"";
  display:block;
}
/* left hump */
.icon-heart:before {
  position:absolute;
  left:.1em;
  top:0px;
  transform: rotate(-45deg);
  background:#d90000;
  height:2em;
  width:1.2em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}
/* right hump */
.icon-heart:after {
  position:absolute;
  right:.12em;
  top:0px;
  transform: rotate(45deg);
  background:#d90000;
  height:2em;
  width:1.2em;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}
/* the animated dot */
.icon-heart span.dot:after {
  height:.2em;
  width:.2em;
  left:-.4em;
  top:50%;
  background:#fff;
  position:absolute;
  z-index:999;
  border-radius:100%;
  -webkit-animation: heartbeat 2s linear 0s infinite; /* Chrome, Safari, Opera */
  animation: heartbeat 2s linear 0s infinite;
}
/* /css heartbeat */

/* animation css */
/* Chrome, Safari, Opera */
@-webkit-keyframes heartbeat {
  0%   {background:rgba(255,255,255,0); left:-.4em; top:50%;}
  20%  {background:rgba(255,255,255,.5); left:.2em; top:50%;}
  35%  {background:rgba(255,255,255,1); left:.4em; top:30%;}
  45%  {background:rgba(255,255,255,.5); left:.7em; top:50%;}
  55%  {background:rgba(255,255,255,.5); left:.9em; top:50%;}
  65%  {background:rgba(255,255,255,1); left:1.1em; top:42%;}
  75%  {background:rgba(255,255,255,.5); left:1.2em; top:50%;}
  100% {background:rgba(255,255,255,0); left:2.4em; }
}

/* Standard syntax */
@keyframes heartbeat {
  0%   {background:rgba(255,255,255,0); left:-.4em; top:50%;}
  20%  {background:rgba(255,255,255,.5); left:.2em; top:50%;}
  35%  {background:rgba(255,255,255,1); left:.4em; top:30%;}
  45%  {background:rgba(255,255,255,.5); left:.7em; top:50%;}
  55%  {background:rgba(255,255,255,.5); left:.9em; top:50%;}
  65%  {background:rgba(255,255,255,1); left:1.1em; top:42%;}
  75%  {background:rgba(255,255,255,.5); left:1.2em; top:50%;}
  100% {background:rgba(255,255,255,0); left:2.4em; }
}
/* /animation */

/* for this presentation, not required */
body { 
  text-align:center;
  padding:13% 0 20px 0;
  background:#F9DAFF;
}
.icon-heart {
  zoom:3;/* make the heart big */
}
/* /not required */
