.fix {
	padding-left: 45px;
	padding-right: 45px;
}

.okvir {
  width: 100%;
  height: 88vh;
  flex: 1;
  display: inline-block;;
}

.rob {
  border: 2px solid transparent;
  background-color:#FFFFFF;
  border-radius: 5px;
}

.rob1 {
  border: 1px solid transparent;
  border-color: #000000;
  border-radius: 5px;
}

.senca {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}

.wikitable {
  background-color: #f8f9fa;
  color: #222;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
}

table {
  width: 100%;
  margin: auto;
  display: table;
  vertical-align: middle;
  font-size: 100%;
  border-spacing: 2px;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: middle;
  border-color: inherit;
}

th, td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

th {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.b {
  width: 150px;
  height: 50px;
  font-size: 100%;
}

#backButton {
	border-radius: 4px;
	padding: 8px;
	border: none;
	font-size: 16px;
	background-color: #2eacd1;
	color: white;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
  
.invisible {
  display: none;
}

.alert {
  padding: 20px;
  background-color: #0099ff;
  height: 150px;
  width: 350px;
  color: black
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}